.font-inter {
    font-family: "Inter", sans-serif;
}

.font-jetbrains-mono {
    font-family: "JetBrains Mono", monospace;
}

.font-plus-jakarta-sans {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.font-liberation-mono {
    font-family: "Liberation Mono", monospace;
}