.inter-font {
    font-family: "Inter", sans-serif;
}

.jetbrains-mono-font {
    font-family: "JetBrains Mono", monospace;
}

.plus-jakarta-sans-font {
    font-family: "Plus Jakarta Sans", sans-serif;
}