body {
    background-image: url('../img/bg-triangle.jpg');
}

.headerArea {
    padding: 50px;
    background-image: url('../img/blur.jpg');
    background-size: 100%;
    background-attachment: fixed;
}

.headerTextColor{
    color: lavenderblush;
}

.contactInfoArea {
    padding: 150px;
}

.item-info{
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.carousel-icon-color-custom{
    width: 40px;
    height: 40px;
    background-color: darkcyan;
    outline: black;
    border: 1px solid black;
    border-radius: 50%;
}

.card{
    padding: 10px;
}